
PATIENT_TREATMENT_ADVISOR/.vs/PATIENT_TREATMENT_ADVISOR/v17/.suo
PATIENT_TREATMENT_ADVISOR/bin/Debug/net6.0-windows/PATIENT_TREATMENT_ADVISOR.dll
PATIENT_TREATMENT_ADVISOR/bin/Debug/net6.0-windows/PATIENT_TREATMENT_ADVISOR.exe
PATIENT_TREATMENT_ADVISOR/bin/Debug/net6.0-windows/PATIENT_TREATMENT_ADVISOR.pdb
PATIENT_TREATMENT_ADVISOR/obj/Debug/net6.0-windows/apphost.exe
PATIENT_TREATMENT_ADVISOR/obj/Debug/net6.0-windows/PATIENT_TREATMENT_ADVISOR.assets.cache
PATIENT_TREATMENT_ADVISOR/obj/Debug/net6.0-windows/PATIENT_TREATMENT_ADVISOR.csproj.CoreCompileInputs.cache
PATIENT_TREATMENT_ADVISOR/obj/Debug/net6.0-windows/PATIENT_TREATMENT_ADVISOR.csproj.FileListAbsolute.txt
PATIENT_TREATMENT_ADVISOR/obj/Debug/net6.0-windows/PATIENT_TREATMENT_ADVISOR.csproj.GenerateResource.cache
PATIENT_TREATMENT_ADVISOR/obj/Debug/net6.0-windows/PATIENT_TREATMENT_ADVISOR.dll
PATIENT_TREATMENT_ADVISOR/obj/Debug/net6.0-windows/PATIENT_TREATMENT_ADVISOR.GeneratedMSBuildEditorConfig.editorconfig
PATIENT_TREATMENT_ADVISOR/obj/Debug/net6.0-windows/PATIENT_TREATMENT_ADVISOR.genruntimeconfig.cache
PATIENT_TREATMENT_ADVISOR/obj/Debug/net6.0-windows/PATIENT_TREATMENT_ADVISOR.pdb
PATIENT_TREATMENT_ADVISOR/obj/PATIENT_TREATMENT_ADVISOR.csproj.nuget.dgspec.json
PATIENT_TREATMENT_ADVISOR/obj/PATIENT_TREATMENT_ADVISOR.csproj.nuget.g.props
PATIENT_TREATMENT_ADVISOR/obj/project.assets.json
PATIENT_TREATMENT_ADVISOR/obj/project.nuget.cache
